@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --maxwidth-section: 1140px;
}

body{
    font-family: roboto;
}
.bg-img {
    background-image: url('../images/logo2x1.png');
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    /* height: 602px; */
    background-position: center;
}
.col .text-box{
    width: 19rem;
    text-align: justify;
    word-break: break-word;
}
.col .text-box ul{
    padding-left:0.5rem ;
}
.carousel .card-text{
    text-align: justify;
    word-break: break-word;
}
.card-content {
    height: 257px;
    width: 387px;
    padding: 15% 10%;
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.card-content span {
    width: 238px;
    margin: 0 5px auto;
    display: flex;
    align-items: center;
}

.card-content img {
    margin-right: 10px;

}
.card-content p{
    text-align: justify;
    word-break: break-word;
}
.width-section {
    max-width: var(--maxwidth-section);
}

.banner-image {
    position: absolute;
    left: 55%;
}

.contact {
    border-radius: 20px;
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 65px 15px;
    min-height: 196px;
    background-color: #ffffff;
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
}


.contact-detail {
    margin: auto;
}

.contact .contact-image {
    width: 66px;
    float: left;
}

.contact .row .col-6,
.contact .row p,
.contact .row .col-lg-3 {
    margin: auto;
}

.contact .col-3 .contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 66px;
}
.btn-contact {
    height: 50px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 90px;
    background: linear-gradient(90deg, #054D8D 0%, #002749 100%);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-contact img {
    width: 24px;
    margin: 0 5px;
}

.btn-contact-color {

    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: flex;
    align-items: center;
    /* width: 250px; */
    text-align: center;
    /* padding: 0 10%; */
    margin: auto;
    justify-content: center;
}


section .contact-detail{
    display: flex;
    gap: 10px;
    align-items: center;
}


#Home-ST2 {
    position: relative;
    background-color: #fafeff;
    padding-bottom: 100px;
}

#Home-ST2 .container .content-2 {
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* #Home-ST2 .container .content-2 div {
    width: 90% !important;
} */

#Home-ST2 h1 {
    width: 100% !important;
}

#Home-ST3 {
    padding: 80px 0;
    background-color: rgba(222, 243, 255, 1);
    /* height: 80vh; */
}

#Home-ST3 .container .col-6 img:nth-child(2) {
    position: absolute;
    bottom: -50px;
    right: -20px;
}

#Home-ST4 .container #myCarouselMobile{
    display: none;
}

#Home-ST4 .course {
    height: 516px;
    padding: 46px 22px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
}

#Home-ST4 .course .card-text {
    min-height: 130px;
}

#Home-ST5 h1 {
    margin: 40px 0;
}

#Home-ST6 img {
    width: 100%;
}

.footer {
    margin-top: 150px;
}

.footer .logo-footer {
    height: 200px;
    margin-top: 70px;
    position: relative;
}

.footer .logo-footer img {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translate(-50%, 0);

}

.footer-contact img {
    width: 31px;
    margin-right: 10px;
}

.footer-contact p {
    line-height: 31px;
}

.footer ul {
    list-style: none;
}

.footer .form-input {
    height: 55px;
    border: none;
    background-color: transparent;
}
.footer .form-input:focus,.footer .form-input:hover{
    border: none;
    outline: none;
}
.footer .button-input {
    width: 167px;
    height: 57px;
    border: none;
    border-radius: 90px;
    background-color: rgba(5, 77, 141, 1);
    color: white;
}

.footer form {
    position: relative;
    height: 70px;
    padding: 5px 10px;
    border: 1px solid rgba(3, 95, 176, 1);
    border-radius: 116px;
    /* width: fit-content; */
    max-width: 375px;
    width: 100%;
}

.footer form input:nth-child(2) {
    position: absolute;
}


/* Giới Thiệu */

/* #GT-ST1 .container .row  {
    align-items: center;
} */

#GT-ST1 {
    height: 88vh;
}


#GT-ST1 .container .row .col:nth-child(2) {
    padding-top: 300px
}


#GT-ST1 .banner-text {
    width: 50%;
    padding-top: 150px;
}

#GT-ST1 .banner-text .btn-contact-color {
    margin: 0;
}

#GT-ST1 .social-icon {
    /* position: absolute;
    top: 500px;
    left: 45%; */
    max-width: 348px;
    width: 100%;
    height: 74px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 75px;
    background-color: rgba(228, 244, 250, 0.33);
}

#GT-ST2 {
    background-color: #fafeff;
}

#GT-ST2 .container .top .col-lg-6:nth-child(2) img {
    height: 710px;
    max-width: 680px;
    width: 100%;
    object-fit: contain
}

.candoc {
    margin-top: 110px;
}

.title-exper {
    padding-bottom: 50px;
}

.card-news {
    align-items: center;
    display: flex;
    width: 100%;
    height: 298px;
    padding: 5% 2%;
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    text-align: justify;
}

.card-news img {
    width: 100%;
    height: 211px;
    object-fit: cover;
}

.card-news>div {
    padding: 0px 5px;
}

.card-news p {
    font-size: 14px;
}

#HD-ST1 {
    background-color: #FAFEFF;
}

.workshop {
    align-items: center;
    width: 100%;
    padding: 5% 2%;
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.workshop>div {
    align-items: center;
}

.invitation {
    display: flex;
    margin-top: 150px;
}

.card-invitaion {
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    /* height: 283px; */
    background: linear-gradient(180deg, #DEF3FF 1.61%, #FFFFFF 98.42%);
    box-shadow: 0px 4px 22.600000381469727px 0px rgba(33, 144, 207, 0.22);
}
.Dcarousel-control-next-icon,
.Dcarousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}
#myCarousel:hover .Dcarousel-control-next-icon{
    background-image: url("../images/FontAwesome-Arrow-right-icon.png");
}
#myCarousel:hover .Dcarousel-control-prev-icon{
    background-image: url("../images/FontAwesome-Arrow-Left-icon.png");
}
.hinh-hoatdong{
    width: 100%;
    height: 205px;
    object-fit: cover;
}
@media (max-width: 991px){
    .workshop{
        padding: 7%;
    }
    #navbarSupportedContent ul {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbarSupportedContent ul>li{
        font-size: 14px;
        margin: 10px !important;
    }
}

@media (max-width: 769px) {
    .card-invitaion{
        padding-left: 0;
        padding-right: 0;
    }
    .action{
        position: inherit!important;
        margin: 0 auto;
    }
    .card-content{
        padding: 10% 5%;
    }
    #GT-ST1 .banner-text{
        width: 100%;
    }
    section .contact {
        /* flex-wrap: wrap; */
        padding: 15px;
    }

    section .contact .contact-items {
        gap: 15px;
    }

    #Home-ST2 {
        margin-top: 16rem;
    }

    #Home-ST2 .content-2 {
        margin: 0;
        padding: 0;
    }


    #Home-ST3 .row {
        flex-direction: column;
    }

    #Home-ST3 .row .col-6 {
        width: 100%;
    }

    #Home-ST3 .row .col-6 img:nth-child(2){
        bottom: -12px;
        right: 12px;
        width: 40%;
    }

    #Home-ST3 .row .col-5 {
        margin-top: 1rem;
        width: 100%;
    }


    #Home-ST4 .container #myCarouselDesktop{
        display: none;
    }

    #Home-ST4 .container #myCarouselMobile{
        display: block;
    }

    #Home-ST4 .container #myCarouselMobile .carousel-inner{
        padding: 0;
    }

    #Home-ST4 .course {
        width: 100%;
        height: 600px;
    }


    /* Giới thiệu */

    #GT-ST1 {
        height: 110vh;
    }

    #GT-ST1 .container .row {
        flex-direction: column;
    }

    #GT-ST1 .container .row .col:nth-child(2) {
        padding-top: 15px;
    }

    #GT-ST2 .container .top .col-lg-6:nth-child(2) img {
        height: 447px;
    }

    #GT-ST2 .container .title-exper .row {
        flex-direction: column;
    }

    #GT-ST2 .container .title-exper .row .col-6 {
        width: 100%;
    }

    .footer {
        margin-bottom: 15px;
    }

    .footer form input:nth-child(2){
        width: 100px;
        right: 5px;
    }
}

@media (max-width:575px) {
    .card-news {
        height: 100%;
        padding: 4% 7%;
    }

    .card-news .col-4 , .card-news .col-8 {
        width: 100%;
    }

    .card-news .col-8 {
        margin-top: 1rem;
    }

    .card-news .col-8 h5 {
        font-size: 18px;
    }
}

@media (max-width: 426px) {
    .card-content{
        padding: 15% 10%;
    }
}
@media (max-width: 414px) {
    #Home-ST4 .course {
        width: 100%;
        height: 500px;
    }

    #GT-ST1 {
        height: 120vh;
    }
}
#content-zone img{
    max-width: 100%;
}
