* {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes rotateIn {
    0% {
        transform-origin: center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform-origin: center
    }

    to {
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center;
        -webkit-transform: rotate(-200deg);
        transform: rotate(-200deg);
        opacity: 0
    }

    to {
        -webkit-transform-origin: center
    }

    to {
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05)
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.pulse {
    animation: pulse 3s linear infinite;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    0%,
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    0%,
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    40% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg)
    }

    60% {
        -webkit-transform: perspective(400px) rotateX(10deg);
        transform: perspective(400px) rotateX(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateX(-5deg);
        transform: perspective(400px) rotateX(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }

    0%,
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg)
    }

    60% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        transform: perspective(400px) rotateY(90deg);
        opacity: 0
    }

    0%,
    40% {
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in
    }

    40% {
        -webkit-transform: perspective(400px) rotateY(-20deg);
        transform: perspective(400px) rotateY(-20deg)
    }

    60% {
        -webkit-transform: perspective(400px) rotateY(10deg);
        transform: perspective(400px) rotateY(10deg);
        opacity: 1
    }

    80% {
        -webkit-transform: perspective(400px) rotateY(-5deg);
        transform: perspective(400px) rotateY(-5deg)
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px)
    }
}

.flipInY {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}

@keyframes fa-spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.fa-spinner {
    animation: fa-spinner 0.5s linear infinite;
}

.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.hide {
    display: none !important;
}

body {
    background: url(https://xem.tracuuthansohoc.com/uploads/images/bg.jpg);
    background-size: auto !important;
    z-index: -500;
}

.navbar-brand {
    margin-left: 2px;
}

/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    padding: 10px 0;
    background: linear-gradient(to bottom, #001c31 36%, #17143f 93%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

@media (max-width: 992px) {
    .container {
        max-width: 99%;
    }
}

.navbar-brand img {
    height: 50px;
    width: auto;
    /*filter: brightness(10%);*/
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    margin: -10px 0;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #FBF9FA !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #FBF9FA !important;
}

.nav-item.active .nav-link {
    color: #FBF9FA !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-link a {
    text-decoration: none;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    padding: 8px 0px;
    transition: all 200ms linear;
}

.play-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 99999999;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.button,
.free-report-form .button {
    background: #ab1d88;
    padding: 10px 25px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    border: 1px solid #5a1249;
    border-radius: 3px;
    transition: all .3s ease-in;
    width: 100%;
    box-shadow: 0 0 1px 2px rgb(255 54 204 / 35%);
    word-wrap: normal;
    white-space: normal;
}

.play-modal .button {
    width: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -31px;
    margin-left: -130px;
    font-size: 22px;
    padding: 18px 10px;
}

.bg-nums {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -499;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif
}

.bg-nums>div {
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 5px #555
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    transition: all 3s ease-in;
}

.loader-wrapper-inner,
.loader-circle,
.loader-circle:before {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rot 4s linear infinite;
}

.loader-circle:before {
    width: 0.1875em;
    height: 0.1875em;
    border-radius: 50%;
    box-shadow: 7.5em 0em 0em 0em rgb(255 255 255 / 15%), 7.42701em 1.0438em 0.01308em 0.00872em rgb(255 255 255 / 37%), 7.20946em 2.06728em 0.02609em 0.0174em rgb(255 255 255 / 47%), 6.85159em 3.05052em 0.03898em 0.02599em rgb(255 255 255 / 54%), 6.36036em 3.97439em 0.05168em 0.03445em rgb(255 255 255 / 60%), 5.74533em 4.82091em 0.06413em 0.04275em rgb(255 255 255 / 65%), 5.01848em 5.57359em 0.07626em 0.05084em rgb(255 255 255 / 69%), 4.19395em 6.21778em 0.08803em 0.05868em rgb(255 255 255 / 73%), 3.28778em 6.74096em 0.09936em 0.06624em rgb(255 255 255 / 77%), 2.31763em 7.13292em 0.11021em 0.07347em rgb(255 255 255 / 80%), 1.30236em 7.38606em 0.12052em 0.08035em rgb(255 255 255 / 83%), 0.26175em 7.49543em 0.13025em 0.08683em rgb(255 255 255 / 86%), -0.78396em 7.45891em 0.13934em 0.09289em rgb(255 255 255 / 88%), -1.81441em 7.27722em 0.14775em 0.0985em rgb(255 255 255 / 90%), -2.80955em 6.95388em 0.15544em 0.10363em rgb(255 255 255 / 92%), -3.75em 6.49519em 0.16238em 0.10825em rgb(255 255 255 / 94%), -4.61746em 5.91008em 0.16852em 0.11235em rgb(255 255 255 / 96%), -5.39505em 5.20994em 0.17385em 0.1159em rgb(255 255 255 / 97%), -6.06763em 4.40839em 0.17832em 0.11888em rgb(255 255 255 / 98%), -6.62211em 3.52104em 0.18193em 0.12129em rgb(255 255 255 / 99%), -7.04769em 2.56515em 0.18465em 0.1231em rgb(255 255 255 / 99%), -7.33611em 1.55934em 0.18647em 0.12432em rgb(255 255 255 / 100%), -7.48173em 0.52317em 0.18739em 0.12492em rgb(255 255 255 / 100%), -7.48173em -0.52317em 0.18739em 0.12492em rgb(255 255 255 / 100%), -7.33611em -1.55934em 0.18647em 0.12432em rgb(255 255 255 / 100%), -7.04769em -2.56515em 0.18465em 0.1231em rgb(255 255 255 / 99%), -6.62211em -3.52104em 0.18193em 0.12129em rgb(255 255 255 / 99%), -6.06763em -4.40839em 0.17832em 0.11888em rgb(255 255 255 / 98%), -5.39505em -5.20994em 0.17385em 0.1159em rgb(255 255 255 / 97%), -4.61746em -5.91008em 0.16852em 0.11235em rgb(255 255 255 / 96%), -3.75em -6.49519em 0.16238em 0.10825em rgb(255 255 255 / 94%), -2.80955em -6.95388em 0.15544em 0.10363em rgb(255 255 255 / 92%), -1.81441em -7.27722em 0.14775em 0.0985em rgb(255 255 255 / 90%), -0.78396em -7.45891em 0.13934em 0.09289em rgb(255 255 255 / 88%), 0.26175em -7.49543em 0.13025em 0.08683em rgb(255 255 255 / 86%), 1.30236em -7.38606em 0.12052em 0.08035em rgb(255 255 255 / 83%), 2.31763em -7.13292em 0.11021em 0.07347em rgb(255 255 255 / 80%), 3.28778em -6.74096em 0.09936em 0.06624em rgb(255 255 255 / 77%), 4.19395em -6.21778em 0.08803em 0.05868em rgb(255 255 255 / 73%), 5.01848em -5.57359em 0.07626em 0.05084em rgb(255 255 255 / 69%), 5.74533em -4.82091em 0.06413em 0.04275em rgb(255 255 255 / 65%), 6.36036em -3.97439em 0.05168em 0.03445em rgb(255 255 255 / 60%), 6.85159em -3.05052em 0.03898em 0.02599em rgb(255 255 255 / 54%), 7.20946em -2.06728em 0.02609em 0.0174em rgb(255 255 255 / 47%), 7.42701em -1.0438em 0.01308em 0.00872em rgb(255 255 255 / 37%);
    animation-timing-function: steps(45);
    animation-duration: 1s;
    content: '';
}

.loader-circle {
    animation-direction: reverse;
}

.loader-circle:nth-child(1) {
    margin: 5em 0em;
    animation-delay: 0s;
}

.loader-circle:nth-child(2) {
    margin: 2.5em 4.33013em;
    animation-delay: -0.66667s;
}

.loader-circle:nth-child(3) {
    margin: -2.5em 4.33013em;
    animation-delay: -1.33333s;
}

.loader-circle:nth-child(4) {
    margin: -5em 0em;
    animation-delay: -2s;
}

.loader-circle:nth-child(5) {
    margin: -2.5em -4.33013em;
    animation-delay: -2.66667s;
}

.loader-circle:nth-child(6) {
    margin: 2.5em -4.33013em;
    animation-delay: -3.33333s;
}

@keyframes rot {
    100% {
        transform: rotate(360deg)
    }
}


.page-subtitle,
.content-title,
.content-subtitle {
    font-size: 18px;
}

.content-subtitle {
    margin: 0 auto;
}

.content-container.active {
    opacity: 1 !important;
}

.content-title,
.content-subtitle {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

.content-title b,
.content-subtitle b,
.sign-title b,
.form-description b {
    color: #f7d51a;
}

.typed-cursor {
    opacity: 1;
    background: #ab1d88;
    color: #ab1d88;
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display: inline-block;
    width: 2px;
    content: "";
    padding: 0
}


.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.lifepath-calculation-table {
    margin: 30px auto;
    table-layout: fixed;
    text-align: left;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

td[class^="lifepath-column-"] {
    text-align: center;
}

.lifepath-column-1,
.lifepath-column-3,
.lifepath-column-5 {
    min-width: 120px;
}

td,
th {
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.lifepath-column-2,
.lifepath-column-4,
.lifepath-column-6 {
    min-width: 40px;
}

.lifepath-calculation-table tr td.empty-cell div {
    opacity: 0;
}

.lifepath-calculation-table tr td.empty-cell {
    color: #f7d51a;
    font-size: 29px;
    text-align: center;
    padding: 5px 20px;
    line-height: 20px;
}

.lifepath-column-7 {
    min-width: 110px;
}

.lifepath-block {
    background: rgba(220, 92, 137, 0.7);
    color: #f7d51a;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 8px 16px;
    min-width: 85px;
    text-align: center;
    border-radius: 3px;
    opacity: 0;
    overflow: hidden;
}

.lifepath-result {
    background: #f7d51a;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    text-shadow: 1px 1px 8px #555;
    padding: 5px;
    line-height: 48px;
    opacity: 0;
}

.lifepath-block .digit,
.lifepath-block .plus {
    display: inline-block;
    opacity: 0;
}

.lifepath-arrow {
    width: 25px;
    height: 18px;
    background: url(../images/lifepath-arrow.png) no-repeat;
    margin: 0 5px;
    opacity: 0;
    display: inline-block;
}

.content-container.carousel-container {
    margin: 100px auto 0 auto;
}

.content-container.active {
    opacity: 1 !important;
}

.signs-carousel {
    margin: 0 auto;
}

.signs-carousel>div {
    text-align: center;
}

.sign-container {
    position: relative;
    width: 95%;
    max-width: 350px;
    margin: 60px auto 0 auto;
    text-align: center;
}

.sign-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.sign-container:after {
    position: absolute;
    content: ' ';
    top: 94%;
    left: 0;
    height: 20%;
    width: 100%;
    background: url(../images/sign-shadow.png) no-repeat center;
    background-size: contain;
    opacity: .7;
    z-index: -1;
}

.sign-container .sign-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: url(../images/sign-mandala-bg.png) no-repeat center;
    background-size: cover;
    -webkit-animation: spin 60s linear infinite;
    animation: spin 60s linear infinite;
}

.sign-container .sign-image {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-top: -45%;
    margin-left: -45%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 9px 4px rgb(255 255 255 / 80%);
    background-size: cover !important;
    animation-duration: 2s;
}

.sign-container .sign-title {
    position: absolute;
    top: -55px;
    left: 0;
    width: 100%;
    font-size: 26px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #f7d51a;
    background: rgba(0, 0, 0, 0.1);
    text-shadow: 4px 2px 8px #333;
}

.sign-lifepath {
    background: url(../images/sign-lifepath-bg.png) no-repeat center;
}

.sign-birthday {
    background: url(../images/sign-birthday-bg.png) no-repeat center;
}

.sign-expression {
    background: url(../images/sign-expression-bg.png) no-repeat center;
}

.sign-soulurge {
    background: url(../images/sign-soulurge-bg.png) no-repeat center;
}

.sign-personality {
    background: url(../images/sign-personality-bg.png) no-repeat center;
}

.sign-passion {
    background: url(../images/sign-passion-bg.png) no-repeat center;
}

.sign-rational {
    background: url(../images/sign-rational-bg.png) no-repeat center;
}

.sign-karmic {
    background: url(../images/sign-karmic-bg.png) no-repeat center;
}

.sign-planes {
    background: url(../images/sign-planes-bg.png) no-repeat center;
}

.sign-balance {
    background: url(../images/sign-balance-bg.png) no-repeat center;
}

.sign-challenge {
    background: url(../images/sign-challenge-bg.png) no-repeat center;
}

.sign-pinnacles {
    background: url(../images/sign-pinnacles-bg.png) no-repeat center;
}

.sign-core-number {
    background: url(../images/sign-core-number-bg.png) no-repeat center;
}

andalas-wrapper {
    overflow: hidden
}

.mandala-wrapper-inner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    display: none;
    width: 100%
}

.mandala-container {
    position: relative;
    width: 95%;
    max-width: 350px;
    height: 1000px;
    max-height: 350px;
    margin: 10px auto 20px;
    text-align: center;
    background: url(https://xem.tracuuthansohoc.com/uploads/images/mandala-bg.png) no-repeat center;
    background-size: cover;
    -webkit-animation: spin 60s linear infinite;
    animation: spin 60s linear infinite
}

.mandala-number {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 160px;
    line-height: 160px;
    /*height: 160px;*/
    /*width: 180px;*/
    /*margin-top: -90px;*/
    /*margin-left: -90px;*/
    height: 320px;
    width: 320px;
    margin-top: -160px;
    padding-top: 70px;
    margin-left: -160px;
    border-radius: 50%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    z-index: 1000;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177, 0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    display: none;
    overflow: visible;
}

.mandala-dot {
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    border-radius: 14px;
    margin-top: -7px;
    margin-left: -7px;
    -webkit-animation: pulsate 2s ease-in infinite;
    animation: pulsate 2s linear infinite;
    opacity: 0;
    z-index: -100;
}

#mandala-1 .mandala-dot-1 {
    top: 50%;
    left: 50%;
}

.mandala-object,
.mandala-shape,
.mandala-lines {
    width: 91%;
    height: 91%;
    background-size: contain !important;
    position: absolute;
    top: 4%;
    left: 4.5%;
    display: none;
}

.mandala-object {
    -webkit-animation: spin-reversed 30s linear infinite !important;
    animation: spin-reversed 30s linear infinite !important;
}

#mandala-1 .mandala-object {
    background: url(https://xem.tracuuthansohoc.com/uploads/images/mandala-object-1.png) no-repeat center;
}

.mandala-shape {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-animation: spin-transformed 20s linear infinite !important;
    animation: spin-transformed 20s linear infinite !important;
}

.mandala-lines {
    -webkit-animation: spin-transformed 10s linear infinite !important;
    animation: spin-transformed 10s linear infinite !important;
}

.content-wrapper {
    min-height: calc(100vh - 150px);
}

@media (max-width: 767px) {
    .content-wrapper {
        min-height: calc(100vh - 130px);
    }

    .page-subtitle,
    .content-title,
    .content-subtitle {
        font-size: 18px;
    }

    .lifepath-calculation-table {
        margin-top: 15px;
    }

    .lifepath-column-1 {
        min-width: 80px;
    }

    .lifepath-block {
        min-width: 35px;
        padding: 5px 2px;
        font-size: 14px;
    }

    .lifepath-arrow {
        width: 15px;
        height: 10px;
        margin: 0;
        background-size: contain;
    }

    .lifepath-column-2,
    .lifepath-column-4,
    .lifepath-column-6 {
        min-width: 18px;
    }

    .lifepath-column-1 {
        min-width: 80px;
    }

    .lifepath-column-3 {
        min-width: 70px;
    }

    .lifepath-column-5 {
        min-width: 40px;
    }

    .lifepath-calculation-table tr td.empty-cell {
        padding: 5px;
        font-size: 16px;
    }

    .lifepath-column-7 {
        min-width: 20px;
    }

    .lifepath-block {
        min-width: 35px;
        padding: 5px 2px;
        font-size: 14px;
    }

    .lifepath-result {
        line-height: 24px;
    }

    .lifepath-result {
        line-height: 24px;
    }

    .sign-container {
        margin: 76px auto 0 auto;
    }

    .sign-container,
    .mandala-container,
    .lifepath-sign-container,
    .expression-sign-container,
    .expression-sign-container-2,
    .soulurge-sign-container,
    .soulurge-sign-container-2,
    .sign-container.greeting-sign {
        width: 300px;
        height: 300px;
    }

    .sign-container .sign-title {
        top: -55px;
        line-height: 1.3;
        font-size: 21px;
        margin-bottom: 15px;
    }
}

.box-bg {
    background: #f6f6f6;
    padding: 10px;
    border-radius: 10px;
}

.box-bg .content {
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.4;
    background: #fff;
    padding: 5px;
    margin-bottom: 0px;
    border-radius: 8px;
}

.description {
    font-size: 12px;
    line-height: 1.3;
    white-space: pre-wrap;
}

.pre-wrap {
    white-space: pre-wrap;
}

tr:hover td {
    background: #f6f6f6;
}

.diagonal {
    margin: auto;
    width: calc(100vw - 60px);
    max-width: 400px;
}

.diagonal-box {
    position: relative;
    width: 100%;
    padding-top: 120%;
}

.diagonal-circle-big {
    position: absolute;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #9c27b0;
    background: #f6e0ff;
    color: #000;
    text-align: center;
    line-height: 1.2;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
}

.diagonal-detail {
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 30px;
    color: #000;
    text-align: center;
    line-height: 1.2;
    font-size: 10px;
}

.diagonal-circle-small {
    position: absolute;
    z-index: 999;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #16b4d8;
    background: #E1F4FC;
    color: #000;
    text-align: center;
    line-height: 1.2;
    font-size: 13px;
    padding-top: 5px;
}

.diagonal-line-top-right {
    position: absolute;
    background: linear-gradient(to top right, transparent calc(50% - 1px), #0e31a6 calc(50% - 1px), #0e31a6 calc(50% + 1px), transparent 50%);
}

.diagonal-line-bottom-right {
    position: absolute;
    background: linear-gradient(to bottom right, transparent calc(50% - 1px), #0e31a6 calc(50% - 1px), #0e31a6 calc(50% + 1px), transparent 50%);
}

.diagonal-line-left-right {
    position: absolute;
    height: 0px !important;
    border-top: 2px solid #0e31a6;
    margin-bottom: -1px;
}

.footer-section {
    margin-top: 50px;
    background-color: #15143e;
    background-image: url("../images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center 20px;
}

.footer-section .footer-top {
    padding: 20px 15px;
}

.footer-section .copyright {
    border-top: 1px solid #312f56;
    padding: 10px 0;
    text-align: center;
}

.footer-section .copyright p {
    color: #b7b7b7;
    margin-bottom: 0;
}

.footer-section .copyright p a {
    color: #fff;
    font-weight: 500;
}

.footer-section .copyright p a:hover {
    color: #f6783a;
}

.footer-widget .fw-title {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
    padding-top: 10px;
}

.footer-widget p,
.footer-widget span {
    color: #b7b7b7;
}

.footer-widget ul {
    list-style: none;
}

.footer-widget .about-widget img {
    max-width: 60px;
    margin-bottom: 10px;
}

.footer-widget .about-widget p {
    margin-bottom: 35px;
}

.footer-widget .social a {
    color: #b7b7b7;
    margin-right: 15px;
}

.footer-widget .dobule-link ul {
    display: inline-block;
}

.footer-widget .dobule-link ul a {
    display: block;
    font-size: 14px;
    color: #b7b7b7;
    margin-bottom: 15px;
}

.footer-widget .dobule-link ul a:hover {
    color: #f6783a;
}

.footer-widget .dobule-link ul li:last-child a {
    margin-bottom: 0;
}

.footer-widget .dobule-link ul:last-child {
    margin-left: 50px;
}

.footer-widget .recent-post li {
    margin-bottom: 25px;
}

.footer-widget .recent-post p {
    margin-bottom: 5px;
}

.footer-widget .recent-post span {
    font-size: 12px;
}

.footer-widget .recent-post span i {
    color: #f6783a;
    margin-right: 5px;
}

.footer-widget .contact li {
    margin-bottom: 15px;
    display: block;
}

.footer-widget .contact li p {
    margin-bottom: 0;
}

.footer-widget .contact i {
    font-size: 12px;
}

@media(min-width: 992px) {
    #over {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 9998;
    }

    .over-box {
        display: none;
        position: fixed;
        z-index: 9999;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #FFF;
    }

    .over-box .close {
        position: relative;
    }

    .over-box .close .closeIcon {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        cursor: pointer;
        color: #0a3786;
    }

    .over-box .boxButton {
        padding: 10px;
        padding-bottom: 0px;
    }

    .over-box-feedback {
        width: 700px;
        padding: 20px;
        top: 5%;
        left: 50%;
        margin-left: -370px;
        max-height: calc(95vh - 60px);
        overflow: hidden;
    }

    .over-box-feedback .boxContent {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(95vh - 200px);
    }
}


@media (max-width: 991px) {
    #over {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 9998;
    }

    .over-box {
        display: none;
        position: fixed;
        z-index: 9999;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #FFF;
    }

    .over-box .close {
        position: relative;
    }

    .over-box .close .closeIcon {
        position: absolute;
        top: -20px;
        right: -20px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        cursor: pointer;
        color: #0a3786;
    }

    .over-box .boxButton {
        padding: 10px;
        padding-bottom: 0px;
    }

    .over-box-feedback {
        width: 700px;
        padding: 20px;
        top: 5%;
        left: 50%;
        margin-left: -370px;
        max-height: calc(95vh - 60px);
        overflow: hidden;
    }

    .over-box-feedback .boxContent {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(95vh - 200px);
    }
}


@media(min-width: 770px) {
    .mobile {
        display: none !important;
    }
}

@media (max-width: 770px) {
    #over {
        display: none;
        background: #000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 9998;
    }

    .over-box {
        display: none;
        overflow: hidden;
        position: fixed;
        z-index: 9999;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: #FFF;
        height: auto;
    }

    .over-box .close {
        position: relative;
    }

    .over-box .close .closeIcon {
        position: absolute;
        top: -11px;
        right: -9px;
        width: 25px;
        height: 25px;
        font-size: 25px;
        cursor: pointer;
        color: #0a3786;
    }

    .over-box .boxButton {
        padding: 10px;
        padding-bottom: 0px;
    }

    .over-box-feedback {
        width: calc(100vw - 20px);
        padding: 10px;
        top: 5%;
        left: 50%;
        margin-left: calc(10px - 50vw);
        max-height: calc(95vh - 60px);
        overflow: hidden;
    }

    .over-box-feedback .boxContent {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(95vh - 200px);
    }

    .desktop {
        display: none !important;
    }
}


section#report-details {
    padding-top: 40px;
    background: url('../images/block_bg_light_right.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

section#report-details {
    padding-top: 40px;
    background: url('../images/lifepath-bg.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

section#report-details .gradient-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: -moz-linear-gradient(top, #17143f 2%, rgba(0, 28, 49, 0.5) 93%, rgba(0, 28, 49, 0.2) 93%);
    background: -webkit-linear-gradient(top, #17143f 2%, rgba(0, 28, 49, 0.5) 93%, rgba(0, 28, 49, 0.2) 93%);
    background: linear-gradient(to bottom, #17143f 2%, rgba(0, 28, 49, 0.5) 93%, rgba(0, 28, 49, 0.2) 93%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a617143f', endColorstr='#a6001c31', GradientType=0);
    z-index: -1;
}

.white-section {
    background: url('../images/block_bg_light_right.jpg') right top no-repeat;
    width: 100% !important;
    max-width: 100% !important;
    margin-top: 30px;
    padding-top: 40px;
    background-color: #fff;
}

section#report-details .primary-container {
    max-width: 750px;
    margin: auto;
}

section#report-details .white-section h2.main-intro {
    color: #11173d;
    font-size: 27px;
    margin-bottom: 40px;
    font-weight: 400;
}

.pull-right {
    float: right !important;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

section#report-details .primary-container {
    max-width: 750px;
    margin: auto;
}

section#report-details h2 {
    font-size: 26px;
    line-height: 1.25em;
}

section#report-details h2.main-intro {
    color: #fff;
    font-size: 27px;
    margin-bottom: 40px;
    font-weight: 400;
}

section#report-details ul {
    list-style: none;
    margin-bottom: 60px;
}

section#report-details ul li {
    position: relative;
    font-size: 19px;
    margin-bottom: 19px;
    padding-left: 37px;
}

section#report-details ul li:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/blue-bullet.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    left: 0;
    top: 2px;
    position: absolute;
}

section#report-details h2.main-intro strong {
    color: #a52381;
}

section#report-details h2.main-intro strong {
    color: #a52381;
}

section#report-details h2 strong {
    color: #a52381;
}

section#report-details h1 strong {
    color: #a52381;
}

.gen-1 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #cb0000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.gen-2 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #ff9900;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-3 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #cccc00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-4 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #339900;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-5 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #0066cc;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-6 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #2c1ee6;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-7 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #996699;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-8 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #f26283;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-9 {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #ffcc00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.gen-com {
    display: inline-block;
    border-radius: 3px;
    padding: 2px 3px;
    background-color: #940094;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center
}

.loadLeftToRight {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    -webkit-animation: progress 2s;
    -moz-animation: progress 2s;
    animation: progress 2s;
}

@-webkit-keyframes progress {
    0% {
        width: 0%;
    }

    100% {}
}

@-moz-keyframes progress {
    0% {
        width: 0%;
    }

    100% {}
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {}
}


/* Chu kỳ đường đời */
.ckdd-1 {
    color: #ff3872
}

.ckdd-2 {
    color: #7b3dd9
}

.ckdd-3 {
    color: #00b59a
}

.ckdd-img {
    position: relative;
    margin: auto;
    max-width: 200px;
}

.ckdd-img img {
    width: 100%;
    border-radius: 50%;
}

.ckdd-img .ckdd_number {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: -35px;
}

.ckdd-title {
    text-align: center;
}

.ckdd-title .ckdd-title-big {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
}

.ckdd-title .ckdd-title-small {
    font-size: 12px;
}



.r_new_year {
    position: relative;
}

.r_new_year img {
    width: 120px;
}

.r_new_year .img_left {
    position: absolute;
    top: -50px;
    left: 0;
}

.r_new_year .img_right {
    position: absolute;
    top: -50px;
    right: 0;
}

@media (max-width: 400px) {

    .r_new_year img {
        width: 90px;
    }

    .r_new_year .img_left {
        position: absolute;
        top: -35px;
        left: 0;
    }

    .r_new_year .img_right {
        position: absolute;
        top: -30px;
        right: 0;
    }

    .ckdd-img .ckdd_number {
        font-size: 30px;
        margin-top: -20px;
    }

    .ckdd-title .ckdd-title-big {
        font-weight: bold;
        font-size: 14px;
        line-height: 1.5;
    }

    .ckdd-title .ckdd-title-small {
        font-size: 10px;
    }
}

/*menu */
.result_menu_box {
    position: fixed;
    bottom: 5px;
    z-index: 9999999;
    right: 5px;
    display: none;
}

.result_menu {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    border-radius: 10px;
    background: #9915d0;
    color: #fff;
    box-shadow: rgb(162 160 160) 0px 0px 10px 4px;
    text-align: center;
}

.result_menu .menu_btn {
    padding: 8px 10px;
    cursor: pointer
}

.result_menu_content {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: 300px;
    max-height: 80vh;
    box-shadow: 0px 0px 10px 2px #62149c;
    background: #fff;
    border-radius: 10px;
}

.result_menu_content .menu_title {
    padding: 8px;
    font-size: 17px;
    font-weight: bold;
}

.result_menu_content .menu_content {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(80vh - 40px);
}

.result_menu_content .menu_content .content {
    padding: 10px;
    padding-top: 0px;
}

.result_menu_content .menu_content .result_menu_part {
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 13px;
}

.result_menu_content .menu_content .result_menu_item {
    margin-left: 10px;
    color: #0a3786;
    padding: 3px 5px;
    font-size: 13px;
}

.result_menu_content .menu_content .result_menu_item:hover {
    background: #f3f3f3;
}