.pdf-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.pdf-toolbar {
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 0.5em;
}
.pdf-toolbar button {
    color: currentColor;
    background-color: transparent;
    font: inherit;
    border: 1px solid currentColor;
    border-radius: 3px;
    padding: 0.25em 0.5em;
}
.pdf-toolbar button:hover,
.pdf-toolbar button:focus,
.pdf-page-mode input:hover,
.pdf-page-mode input:focus {
    color: #00a9ec;
}
.pdf-page-mode {
    text-align: center;
    padding: 0.25em 0.5em;
}

.pdf-viewport-container {
    flex: 1;
    background: #eee;
    overflow: auto;
}
.pdf-viewport {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pdf-viewport > div {
    text-align: center;
    max-width: 100%;
}
.pdf-viewport canvas {
    width: 100%;
    box-shadow: 0 2px 5px gray;
}




/*#app {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    height: 100vh;*/
/*}*/
/*#toolbar {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    background-color: #555;*/
/*    color: #fff;*/
/*    padding: 0.5em;*/
/*}*/
/*#toolbar button {*/
/*    color: currentColor;*/
/*    background-color: transparent;*/
/*    font: inherit;*/
/*    border: 1px solid currentColor;*/
/*    border-radius: 3px;*/
/*    padding: 0.25em 0.5em;*/
/*}*/
/*#toolbar button:hover,*/
/*#toolbar button:focus,*/
/*#page-mode input:hover,*/
/*#page-mode input:focus {*/
/*    color: #00a9ec;*/
/*}*/
/*#page-mode {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0.25em 0.5em;*/
/*}*/

/*#viewport-container {*/
/*    flex: 1;*/
/*    background: #eee;*/
/*    overflow: auto;*/
/*}*/
/*#viewport {*/
/*    width: 90%;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*}*/
/*#viewport > div {*/
/*    text-align: center;*/
/*    max-width: 100%;*/
/*}*/
/*#viewport canvas {*/
/*    width: 100%;*/
/*    box-shadow: 0 2px 5px gray;*/
/*}*/
