.tsh-kq-2-container {
    p {
        color: #111;

    }
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap !important;
    width: 200px;
    -webkit-line-clamp: 1;
    height: 16px;
    display: inline-block;
}